<div class="container-fluid">
  <div class="row">
    <div id="textPart" class="col-lg-4 col-12">
      <h1>EDUCATION<br/></h1>
      <h3 class="d-none d-md-block">BACHELOR OF SCIENCE IN INDUSTRIAL DESIGN</h3>
      <h3 class="d-md-none">BACHELOR OF SCIENCE IN<br/>INDUSTRIAL DESIGN</h3>
    </div>
    <div id="artCenter" class="col-12 col-lg-2 offset-lg-3">
      <img src="../../assets/heros/Artcenter_education.svg" alt="ArtCenter">
      <p>LOS ANGELES, CA</p>
    </div>
    <div id="pratt" class="col-12 col-lg-2 offset-lg-0">
      <img src="../../assets/heros/Pratt_education%20.svg" alt="Pratt">
      <p>NEW YORK CITY</p>
    </div>
  </div>
</div>
