<div class="caseContent">
  <div class="textPart">
    <img class="logo" src="../../assets/caseStudies/footy_logo_gallery.png" alt="footyLogo"/>
    <h1>FOOTY POP TRIVIA</h1>
    <p>Emerge Americas was envisioned to become the best Tech Festival in Florida.
      With a great team of thinkers and doers, as a team we were able to cement its presence as the place techies from
      various backgrounds to gather and share their insights. Every year there are over 5,000 attendees!
    </p>
    <img class="caseStudyBtn" src="../../assets/buttons/play_video_btn.svg" alt="caseStudy"/>
  </div>
  <div class="imagePart">
    <img class="banner" src="../../assets/buttons/40000_downloads_work_banner.svg" alt="40000downloads"/>
  </div>

</div>
