<div class="container">
  <div class="row">
    <div class="d-md-block footyMobileBlock">

    </div>
    <div class="textPart col-12 col-md-5 offset-md-1" [@fadeOnScroll]="state">
      <div class="d-md-none footyMobileText">
        <img class="banner" src="../../assets/buttons/40000_downloads_work_banner.svg" alt="pwcWorkBanner"/>
      </div>
      <img class="logo" src="../../assets/caseStudies/footy_logo_gallery.png" alt="footyLogo"/>
      <h1>Footy Pop Trivia</h1>
      <p>Our first product, Footy Pop has over 40,000 downloads was played in 42 countries. The app was created with professional Soccer commentators from around
        the world in English, Spanish & Portuguese.
        Responsibilities: Monetary Investment in the game, Strategy, UX/UI, Branding, Design, Producer, Voice Over/Audio Manager for Quality control in English,
        Spanish & Portuguese. Managing budgets & timelines for our Voiceover Talent pool in England, Mexico, Argentina, Uruguay & Brazil. Oversight on our social media campaigns.
      </p>
      <img class="caseStudyBtn" src="../../assets/buttons/cta_contact_full.svg" alt="caseStudy" (click)="videoModal1.show()"/>
    </div>
    <div class="imagePart col-md-5 offset-md-1 d-none d-md-block" [@fadeOnScroll2]="state">
      <img class="banner" src="../../assets/buttons/40000_downloads_work_banner.svg" alt="40000downloads"/>
    </div>
  </div>
</div>

<div mdbModal #videoModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Cx4JQZyplW0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
