.container {
  height: 50vh;
  background-color: #4B9EFF;
  color: white;
  min-width: 100%;
  padding-right: 4%;
  padding-bottom: 2%;
}

.logo {
  height: 6vh;
  margin-bottom: 3%;

}

.banner {
  height: auto;
  width: 29.91%;
  position: absolute;
  top: 7%;
  left: -5%;
}

.caseStudyBtn {
  height: 5vh;
  /*margin-bottom: 5%;*/
}

h1 {
  font-weight: 700;
  letter-spacing: 0.1em;
}

p {
  font-size: 0.8em;
}

.imagePart {
  height: 40vh;
  background-image: url("../../assets/heros/image_work_footypop@2x.jpg");
  background-size: cover;
  margin-top: 3%;
  box-shadow: 1px 1px 20px #3380A7;
}

.textPart {
  margin-top: 4%;
  height: 40vh;
}
