.sideMenu {
  width: 5.104169%;
  position: fixed;
  height: 100%;
  display: block;
}

.homeLogo {
  height: 14.722%;
  background: url("../../assets/logoSideMenu.jpg") no-repeat center center;
  background-size: 50% 50%;
}

.itemSideMenu {
  height: 6.9444%;
  background: url("../../assets/tmpSideMenu.jpg") no-repeat center center;
  background-size: 50% 50%;
}

