<div class="sideMenu">
    <a routerLink="home"><div class="homeLogo" (click)="scrollTopPage()"></div></a>
    <a routerLink="bio"><div  class="itemSideMenu" id="caseStudy"></div></a>
    <div class="itemSideMenu" id="successStory" (click)="scrollServices()"></div>
    <div class="itemSideMenu" id="services" (click)="scrollSuccess()"></div>
    <div class="itemSideMenu" id="clients" (click)="scrollClients()"></div>
    <div class="itemSideMenu" id="work" (click)="scrollWork()"></div>
    <div class="itemSideMenu" id="contact" (click)="scrollContact()"></div>
</div>
