.container {
  height: 20vh;
  text-align: center;
  padding-top: 1.5%;
  min-height: 120px;
}

.row {
  justify-content: center;
}


img {
  height: 8vh;
  min-height: 50px;
}

h2 {
  font-size: 1em;letter-spacing: 0.2em;margin-bottom: 1.5%;
}

@media (max-width: 767px) {
  h2 {
    font-size: 26px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 50px;
  }

  .container {
    padding-left: 26px;
    padding-top: 45px;
    min-height: 576px;
  }

  img {
    height: 115px;
  }
}
