.arsenaMain {
  height: 15.92%;
  background-color: white;
  text-align: center;
  width: 100%;
}

.arsenaMain .tools {
  width: 100%;
  margin: 0;
  display: inline-block;
}

img {
  height: auto;
  width: 2.895%;
  min-height: 70px;
  margin-bottom: 3.71%;
  min-width: 35px;
  size: auto;
}

p {
  font-size: 1.25em;
  letter-spacing: 0.4vw;
  margin-top:2.5%;
  margin-bottom:1.25%;
}
