.arsenaMain {
  height: 172px;
  background-color: white;
  text-align: center;
  width: 100%;
  padding-top: 36px;
}

.arsenaMain .tools {
  width: 100%;
  margin: 0;
  display: inline-block;
}

img {
  height: 53.61px;
  width: 52.75px;
  margin-bottom: 40.4px;
}

p {
  font-size: 1.25em;
  letter-spacing: 0.4vw;
}
