<div class="container">
  <h2 class="d-none d-md-block"><b>CREATIVE TOOL STACK</b></h2>
  <h2 class="d-md-none"><b>CREATIVE<br/> TOOLSTACK</b></h2>
   <div class="row d-sm-block">
       <img  src="../../assets/tools/wacom.svg" alt="wacom">
       <img  src="../../assets/tools/monday__creative_arsenal.svg" alt="monday">
       <img  src="../../assets/tools/mindnode.svg" alt="mindnode">
       <img  src="../../assets/tools/creative_ps.svg" alt="photoshop">
       <img  src="../../assets/tools/creative_ai.svg" alt="adobe ilustrator">
       <img  src="../../assets/tools/creative_xd.svg" alt="adobe xd">
       <img  src="../../assets/tools/figma.svg" alt="figma">
       <img  src="../../assets/tools/invision_creative_arsenal.svg" alt="invision_creative">
       <img  src="../../assets/tools/framio__creative_arsenal.svg" alt="framino">
   </div>
</div>
