.container {
  height: 95vh;
  min-width: 100%;
  background: url("../../assets/heros/logo_background.svg") no-repeat center center;
  background-size: 40vh;
  background-attachment: fixed;
  text-align: center;
  padding-top: 4%;
  min-height: 600px;

}

img {
  height: 70vh;
  min-height: 450px;
}
