.container {
  height: 95vh;
  min-width: 100%;
  background: url("../../assets/heros/logo_marzo_large_bkgd.svg") no-repeat center center;
  background-size: 50vh;
  background-attachment: fixed;
  text-align: center;
  padding-top: 4%;
  min-height: 600px;

}

img {
  height: 70vh;
  min-height: 450px;
}

h2 {
  letter-spacing: 0.1em; margin-bottom: 4%;
}


@media (max-width: 767px) {
  img {
    min-height: 330px;
    height: 330px;
  }

  .container {
    height: 510px;
    background-size: 300px;
    padding-top: 38px;
    min-height: 510px;
  }

  h2 {
    float: left;
    margin-left: 6%;
    margin-bottom: 45px;
    font-size: 26px;
  }
}

