<!--Navbar-->
<mdb-navbar class="fixed-top" SideClass="navbar navbar-1 navbar-light amber lighten-2" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" ><img src="../../assets/sideMenu/Logo_marzo.svg"/> </a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a (click)="scrollServices()" class="nav-link waves-light" mdbWavesEffect>Services</a>
      </li>
      <li class="nav-item">
        <a (click)="scrollSuccess()" class="nav-link waves-light" mdbWavesEffect>Success</a>
      </li>
      <li class="nav-item">
        <a (click)="scrollClients()" class="nav-link waves-light" mdbWavesEffect>A Full House</a>
      </li>
      <li class="nav-item">
        <a (click)="scrollWork()" class="nav-link waves-light" mdbWavesEffect>Work</a>
      </li>
      <li class="nav-item">
        <a (click)="scrollContact()" class="nav-link waves-light" mdbWavesEffect>Contact</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
