.container-fluid {
  background-color: #1ABDD8;
  position: relative;
  /*height: 90vh;*/
  min-width: 100%;
  /*height: 98%;*/
  background-image: url("../../assets/heros/image_google_resources@2x.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 495px;

}

#google {
  /*position: absolute;*/
  left:0;
  bottom: 0;
  width: 35.40%;
  height: 55%;
  z-index: 1;
}

#gvLogo {
  width: 71.16px;
  height: auto;
  margin-bottom: 2%;
}

.sprint {
  text-align: center;
  align-items: center;
  font-size: 0.9em;
  margin-top: 5%;
  padding-left: 5%;
  margin-bottom: 30%;
}

h1 {
  color: white;
  font-size: 2em;
}


.sprint p{
  text-align: justify;
  max-width: 480px;
  margin: auto;
}

.sprint h1 {
  margin-bottom: 5%;
}

#contactBox {
  margin-top: 2%;
  padding-top: 5%;
  background-color: white;
  width: 80%;
  /*height: 50%;*/
  margin-left: 10%;
  box-shadow: 0 0 15px #005088;
  text-align: center;
}

.contact {
  text-align: center;
  margin-top: 12%;
}

.contact h1 {
  font-weight: bold;
}

h3,h4 {
  color: black;
}

h3 {
  font-size:1.2em;
  font-weight: bold;
}

h4 {
  font-size: 0.8em;
}

.contact h1 {
  letter-spacing: 0.1em;
}
