<div class="container-fluid">
  <div class="row">
    <div class="sprint col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-0">
      <img id="gvLogo" src="../../assets/heros/gv_logo.svg" alt="gvLogo">

      <h1 class="d-none d-md-block">Design Sprint Framework</h1>
      <h1 class="d-md-none">Design Sprint<br/>Framework</h1>


      <p>A design sprint is a five-phase framework that helps answer critical business
        questions through rapid prototyping and user testing. Sprints let your team
        reach clearly defined goals and deliverables and gain key learnings, quickly.
        The process helps spark innovation, encourage user-centered thinking, align
        your team under a shared vision, and get you to product launch faster.
        <br><br>
        Alex has been using many exercises to create team building and brainstorm
        methodologies to get his clients the results their business needs. Are you
        ready to create a solid team and provide a memorable digital experience?
      </p>

    </div>
    <div id="contactFormAlex" class="contact col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-1">
      <h1>Let's sit at the table</h1>
      <div id="contactBox" class="container">
        <h3>Are you ready to take on a new adventure?</h3>
        <h4>Contact Alex to help you and your team create a memorable product experience.</h4>
        <contact-form></contact-form>
      </div>
    </div>
  </div>
</div>

