<div class="container">
  <div class="row">
    <div class="d-md-block fortuneMobileBlock">

    </div>
    <div class="textPart col-12 col-md-5 offset-md-1">
      <div class="d-md-none fortuneMobileText">
        <img class="banner" src="../../assets/caseStudies/tab_fortune_webbranding%20(1).svg" alt="Web Development and Branding"/>
      </div>
      <img class="logo" src="../../assets/caseStudies/brand_fortune.svg" alt="FiatLogo"/>
      <h1>FORTUNE WEBSITE</h1>
      <p>Alexander was tasked with a very exciting client request. To re-brand and re-design a new
          web experience for one of the largest Real Estate companies in the world. FIR has an expansive
          development portfolio around the world and are delighted to have a powerful web presence.
      </p>
      <a href="https://www.fir.com" target="_blank">
        <img class="caseStudyBtn" src="../../assets/heros/explore_work_btn.svg" alt="explore Work"/>
      </a>
    </div>
    <div class="imagePart col-md-5 offset-md-1 d-none d-md-block">
      <img class="banner" src="../../assets/caseStudies/tab_fortune_webbranding%20(1).svg" alt="Web Development and Branding"/>
    </div>
  </div>
</div>
