.container {
  height: 95vh;
  color: white;
  background-color: #005ADD;
  width: 100%;
  padding-top: 7%;
  min-height:700px;
}

.leftYeet {
  padding-left: 5%;
  padding-right: 5%;
}

.rightYeet {
  padding-left: 0;
}
.tools img {
  height: 8vh;
  min-height: 50px;
}

#yeetTimeline {
  width: 70%;
  margin-bottom: 4%;
}

#YeetLogo {
  height: 6vh;
  margin-bottom: 3%;
  min-height: 30px;
}

p{
  font-size: 1em;
}

#exploreWork {
  height: 5vh;
  justify-content: flex-start;
  min-height: 30px;
}

.container {
  min-width: 100%;
}

#YeetPic {
  width: 90%;
  height: 60vh;
  min-height: 400px;
}


.btn:active {
  transform: translateY(4px);
}

.btn {
  text-align: left;
}


@media (max-width: 767px) {
  .leftYeet {
    padding-top: 5%;
    padding-right: 22px;
    text-align: justify;
    font-size: 12px;
  }

  #exploreWork {
    width: 70%;
    height: 14vh;
    float: left;
    margin-left: -22px;
  }

  .container {
    min-height: 550px;
    padding-top: 51px;
    padding-right: 44px;
    padding-left: 28px;
  }

  #YeetLogo {
    height: 35px;
  }

  #yeetgraphics {
    width: 207px;
    height: auto;
    margin-bottom: 24px;
  }

  h3 {
    margin-bottom: 29px;
  }
}

@-moz-document url-prefix() {
  @media (max-width: 767px) {
    p {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1024px) {
  p {
    font-size: 12px;
  }
}
