.yeet {
  height: 140%;/* 65.2%*/
  width: 100%;
  background-color: #005ADD;
  padding-right: 4.22%;
  /*padding-top: 13.77%;*/
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: center;
  color: white;
}

.tools img {
  height: 53.61px;
  width: 52.75px;
  margin-bottom: 1%;
}

.rightPart {
  margin-top: 5%;
  width: 100%;
  height: 34%;
  background: url("../../assets/heros/yeet_work_image@2x.jpg") no-repeat;
  background-size: cover;
  box-shadow: 0 0 12px #005088;
}

#yeetTimeline {
  width: 100%;
  margin-bottom: 4%;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 0.05em;
  margin-bottom: 3%;
}


#exploreWork {
  width: 50%;
}


/*@media (max-height: 823px) {*/
/*.rxStory {*/
/*height: 110%;*/
/*}*/
/*}*/

@media (max-height: 823px) {
  .yeet {height: 120%;}
}
@media (max-height: 736px) {
  .rightPart {margin-top: 5%;}
  .yeet {height: 140%;}
}

@media (max-height: 667px) {
  .rightPart {margin-top: 4%;}
  .yeet {height: 145%;}
}

.btn:active {
  transform: translateY(4px);
}
