<div class="yeet">
  <div class="leftPart">
    <h1>YEET!</h1>
    <h3> Wholesale Deal eCommerce</h3>

    <img id="yeetTimeline" src="../../assets/heros/yeet_timeline.svg" alt="myRx_timeline">

    <p>
      The CEO of Get My Rx started with a brilliant idea to create the nation's leading pharmacy-on-demand platform.
      GetMyRx partners with hundreds of leading independent pharmacies currently serving over 3,000 zip codes across in
      the United States.
      Luis and I teamed up to make investor presentations to raise capital and created the UX / UI.
      Shortly after, raised $650,000 to execute the idea correctly.
      Get My Rx was recently acquired by McKesson Corporation for $3M to scale it around the United States.
    </p>

    <p><b>Team Members: 6</b></p>

    <p><b>Programs used:</b></p>

    <div class="container-fluid">
        <div class="tools">
          <div class="col-xs-4">
            <img src="../../assets/tools/monday__creative_arsenal.svg" alt="monday">
            <img src="../../assets/tools/mindnode.svg" alt="mindnode">
            <img src="../../assets/tools/creative_ps.svg" alt="photoshop">
          </div>
          <div class="col-xs-4">
            <img src="../../assets/tools/creative_ai.svg" alt="adobe ilustrator">
            <img src="../../assets/tools/creative_xd.svg" alt="adobe xd">
            <img src="../../assets/tools/figma.svg" alt="figma">
            <img src="../../assets/tools/framio__creative_arsenal.svg" alt="framino">
          </div>
        </div>
    </div>

    <div class="btn">
      <img id="exploreWork" src="../../assets/heros/explore_work_btn.svg" alt="exploreWork"/>
    </div>
  </div>
  <div class="rightPart">
    <!--<img id="myrxImg" src="../../assets/heros/gmrx_press.svg" alt="myrx_img">-->
  </div>
</div>
