<div class="container">
  <div class="row">
    <div class="col-6 leftYeet">
      <img style="height: 8vh; margin-bottom: 3%;" id="YeetLogo" src="../../assets/heros/yeet_logo_1.svg" alt="Yeet Logo">
      <h3>Wholesale Deal eCommerce</h3>

      <img id="yeetTimeline" src="../../assets/heros/yeet_timeline.svg" alt="myRx_timeline">

      <p><b>Objective:</b></p>

      <p style="font-size: 0.7em;">
        The CEO of Get My Rx started with a brilliant idea to create the nation's leading pharmacy-on-demand platform.
        GetMyRx partners with hundreds of leading independent pharmacies currently serving over 3,000 zip codes across in
        the United States.
        Luis and I teamed up to make investor presentations to raise capital and created the UX / UI.
        Shortly after, raised $650,000 to execute the idea correctly.
        Get My Rx was recently acquired by McKesson Corporation for $3M to scale it around the United States.
      </p>

      <p><b>Team Members: 6</b></p>

      <p><b>Programs used:</b></p>

        <div class="tools">
            <img src="../../assets/tools/monday__creative_arsenal.svg" alt="monday">
            <img src="../../assets/tools/mindnode.svg" alt="mindnode">
            <img src="../../assets/tools/creative_ps.svg" alt="photoshop">
            <img src="../../assets/tools/creative_ai.svg" alt="adobe ilustrator">
            <img src="../../assets/tools/creative_xd.svg" alt="adobe xd">
            <img src="../../assets/tools/figma.svg" alt="figma">
            <img src="../../assets/tools/framio__creative_arsenal.svg" alt="framino">
        </div>
      <div class="btn">
        <a href="https://www.yeet.com" target="_blank">
          <img id="exploreWork" src="../../assets/heros/explore_work_btn.svg" alt="exploreWork"/>
        </a>
      </div>
    </div>
    <div class="col-6 rightYeet">
      <img id="YeetPic" src="../../assets/heros/image_yeet_HP.jpg" alt="myrx_img">
    </div>
  </div>
</div>
