.container {
  height: 95vh;
  color: white;
  background-color: #005ADD;
  width: 100%;
  padding-top: 7%
}

.leftYeet {
  padding-left: 5%;
  padding-right: 5%;
}

.rightYeet {
  padding-left: 0;
}
.tools img {
  height: 8vh;
}

#yeetTimeline {
  width: 70%;
  margin-bottom: 4%;
}

#YeetLogo {
  height: 7vh;
}

p{
  font-size: 1em;
}

#exploreWork {
  height: 5vh;
  justify-content: flex-start;
}

.container {
  min-width: 100%;
}

#YeetPic {
  width: 90%;
  height: 60vh;
}


.btn:active {
  transform: translateY(4px);
}

.btn {
  text-align: left;
}
