<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 leftYeet">
      <img id="YeetLogo" src="../../assets/heros/yeet_logo_1.svg" alt="Yeet Logo">
      <h3 class="d-none d-md-block">Wholesale Deal eCommerce</h3>
      <h3 class="d-md-none">WHOLESALE DEALS, <br/>DELIVERED</h3>

      <img class="d-none d-md-block" id="yeetTimeline" src="../../assets/heros/yeet_timeline.svg" alt="myRx_timeline">
      <img id="yeetgraphics" class="d-md-none" src="../../assets/tools/graphic_yeet.svg" alt="yeetGraphics Alex Marzo">
      <p><b>Objective:</b></p>

      <p>
        Our team conducted qualitative research at Costco and BJ’s wholesale
        clubs and realized certain issues with the wholesale shopping experience..
        People above 40 years old typically planned to use their weekend time to
        drive to the nearest wholesale club, look for parking, wait in long lines to pay
        and carry heavy things to their car. We created <a href="https://www.yeet.com">YEET</a> to simplify everyone’s
        life with wholesale shopping delivered on-demand. The way it should be in 2019!
      </p>

      <p><b>Team Members: 6</b></p>
      <div class="d-none d-md-block">
      <p><b>Programs used:</b></p>

        <div class="tools">
            <img src="../../assets/tools/monday__creative_arsenal.svg" alt="monday">
            <img src="../../assets/tools/mindnode.svg" alt="mindnode">
            <img src="../../assets/tools/creative_ps.svg" alt="photoshop">
            <img src="../../assets/tools/creative_ai.svg" alt="adobe ilustrator">
            <img src="../../assets/tools/creative_xd.svg" alt="adobe xd">
            <img src="../../assets/tools/figma.svg" alt="figma">
            <img src="../../assets/tools/framio__creative_arsenal.svg" alt="framino">
        </div>
      </div>
      <div class="btn">
        <a href="https://www.yeet.com" target="_blank">
          <img id="exploreWork" src="../../assets/heros/explore_work_btn.svg" alt="exploreWork"/>
        </a>
      </div>
    </div>
    <div class="col-6 d-none d-md-block rightYeet">
      <img id="YeetPic" src="../../assets/heros/image_yeet_HP.jpg" alt="myrx_img">
    </div>
  </div>
</div>
