<!--The content below is only a placeholder and can be replaced.-->
<div class="page">
  <side-menu></side-menu>
  <div class="content">
    <top-page></top-page>
    <services></services>
    <arsenal></arsenal>
    <rxstory></rxstory>
    <clients></clients>
    <yeet></yeet>
    <hyper></hyper>
    <emerge></emerge>
    <footy></footy>
    <!--<nimbus></nimbus>-->
    <!--<submerge></submerge>-->
    <!--<fiat></fiat>-->
    <!--<seeallwork></seeallwork>-->
    <!--<education></education>-->
    <!--<contact></contact>-->
  </div>
</div>
