.rxStory {
  height: 120%;/* 65.2%*/
  width: 100%;
  background-color: #E58585;
  padding-right: 4.22%;
  /*padding-top: 13.77%;*/
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: center;
}

.tools img {
  height: 53.61px;
  width: 52.75px;
  margin-bottom: 2.66vh;
}

.rightPart {
  margin-top: 6.8%;
  width: 100%;
  height: 35%;
  background: url("../../assets/heros/gmrx_press.svg") no-repeat ;
  background-size: contain;
}

#myrxTimeline {
  width: 100%;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 0.05em;
  margin-bottom: 3.4vh;
}

#myrxTimeline {
  margin-bottom: 3.75vh;
}

#playBtn {
  width: 50%;
}

img {
  /*height: 100%;*/
  /*width: 100%;*/
}

/*@media (max-height: 823px) {*/
  /*.rxStory {*/
    /*height: 110%;*/
  /*}*/
/*}*/

@media (max-height: 823px) {
  .rxStory {
    height: 110%;
  }
}
@media (max-height: 736px) {
  .rightPart {
    margin-top: 6.8%;
  }
  .rxStory {
    height: 120%;
  }
}

@media (max-height: 667px) {
  .rightPart {
    margin-top: 4%;
  }
  .rxStory {
    height: 120%;
  }
}




.btn:active {
  transform: translateY(4px);
}
