<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 leftPart order-1 order-sm-last order-md-first">
      <h2 class="d-md-none">GetMyRx<br/>ups the ante</h2>
      <h2 class="d-none d-md-block">GetMyRX ups the ante</h2>

      <img id="myrxTimeline" src="../../assets/heros/getmyrx_timeline.svg" alt="myRx_timeline">

      <p>
        The CEO of Get My Rx started with a brilliant idea to create the  nation's leading pharmacy-on-demand platform.
        GetMyRx partners with hundreds of leading independent pharmacies currently serving over 3,000 zip codes across in the United States.
        Luis and I teamed up to make investor presentations to raise capital and created the UX / UI.
        Shortly after, raised $650,000 to execute the idea correctly.
        Get My Rx was recently acquired by McKesson Corporation for $3M to scale it around the United States.
      </p>

      <p><b>Team Members: 6</b></p>

      <p><b>Programs used:</b></p>
      <div class="tools">
        <img src="../../assets/tools/monday__creative_arsenal.svg" alt="monday">
        <img src="../../assets/tools/mindnode.svg" alt="mindnode">
        <img src="../../assets/tools/creative_ps.svg" alt="photoshop">
        <img src="../../assets/tools/creative_ai.svg" alt="adobe ilustrator">
        <img src="../../assets/tools/invision_creative_arsenal.svg" alt="invision_creative">
      </div>

        <img id="playBtn" src="../../assets/buttons/play_video_btn.svg" alt="playVideo"/>
    </div>
    <div class="col-12 col-md-6 rightPart order-0 order-sm-first order-md-last" [@scrollAnimation]="state">
      <img id="myrxImg" src="../../assets/heros/image_getmyrx.jpg" alt="myrx_img">
    </div>
  </div>
</div>
