<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 leftPart order-1 order-sm-last order-md-first">
      <h2 class="d-md-none">GetMyRx<br/>ups the ante</h2>
      <h2 class="d-none d-md-block">GetMyRX ups the ante</h2>

      <img class="d-none d-md-block" id="myrxTimeline" src="../../assets/heros/getmyrx_timeline.svg" alt="myRx_timeline">
      <img class="d-md-none" id="graphicsMobile" src="../../assets/tools/graphic_gmrx.svg" alt="getMyRXGraphics Alex Marzo">

      <p>
        The CEO of Get My Rx started with a brilliant idea to create the  nation's leading pharmacy-on-demand platform.
        GetMyRx partners with hundreds of leading independent pharmacies currently serving over 3,000 zip codes across in the United States.
        Luis and I teamed up to make investor presentations to raise capital and created the UX / UI.
        Shortly after, raised $650,000 to execute the idea correctly.
        Get My Rx was recently acquired by McKesson Corporation for $3M to scale it around the United States.
      </p>

      <p><b>Team Members: 6</b></p>

      <p class="d-none d-md-block"><b>Programs used:</b></p>
      <div class="tools d-none d-md-block">
        <img src="../../assets/tools/monday__creative_arsenal.svg" alt="monday">
        <img src="../../assets/tools/mindnode.svg" alt="mindnode">
        <img src="../../assets/tools/creative_ps.svg" alt="photoshop">
        <img src="../../assets/tools/creative_ai.svg" alt="adobe ilustrator">
        <img src="../../assets/tools/invision_creative_arsenal.svg" alt="invision_creative">
      </div>

        <img id="playBtn" src="../../assets/buttons/play_video_btn.svg" alt="playVideo" (click)="videoModal1.show()"/>
    </div>
    <div class="col-12 col-md-6 rightPart order-0 order-sm-first order-md-last" [@scrollAnimation]="state">
      <img id="myrxImg" src="../../assets/heros/image_getmyrxOptimized.jpg" alt="myrx_img">
    </div>
  </div>
</div>


<div mdbModal #videoModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nyeI9RVqtMA" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
