.tools img {
  height: 8vh;
}
.container {
  height: 80vh;
  min-width: 100%;
  background-color: #E58585;
}
p {
  font-size: 0.8em;
  margin-bottom: 2%;
}

h2 {
  letter-spacing: 0.15em;
}
.leftPart {
  padding-left: 5%;
  padding-top: 6%;
}
.rightPart {
  padding-left: 0;
  padding-top: 4%;
}

.btn:active {
  transform: translateY(4px);
}

#playBtn {
  height: 5vh;
}

#myrxTimeline {
  width: 80%;
  margin-bottom: 2%;
}

#myrxImg {
  width: 90%;
  /*min-height: 600px;*/
}
