.rxStory {
  height: 65.2%;
  width: 100%;
  background-color: #E58585;
  padding-right: 4.22%;
  padding-top: 13.77%;
  padding-left: 5.48%;
  padding-bottom: 5%;
}

.tools img {
  height: 53.61px;
  width: 52.75px;
  margin-bottom: 2.66vh;
}

.leftPart {
  float: left;
  width: 31.8%;
}

.rightPart {
  width: 40.1%;
  height: 71%;
  float: right;
  background: url("../../assets/heros/getmyrx_success_image.jpg") no-repeat ;
  background-size: contain;
}

#myrxTimeline {
  width: 31.1vw;
  height: 50.92px;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 0.05em;
  margin-bottom: 3.4vh;
}

#myrxTimeline {
  margin-bottom: 3.75vh;
}

.playVideo {
  width: 178.85px;
  height: 37.65px;
  background-color: white;
  color: black;
  border-radius: 19.325px;
  text-align: center;
}

.playVideo p {
  position: relative;
  top: 0.5vh;
}

