<div class="container">
  <img id="coverTopImg" src="../../assets/heros/hero_image_hyper_originalOptimized.jpg">
  <img src="../../assets/heros/image_alex@2x.png">
  <p id="name"><b>ALEXANDER MARZO</b></p>
  <p id="undername"><b>DIRECTOR: CREATIVE STRATEGY & UX UI </b></p>
  <h1>CREATIVE ACE WITH 12 YEARS OF<br/> BRINGING IDEAS AND PEOPLE TOGETHER</h1>
  <p>Alex is an award-winning Creative Ace with 10 years of leadership in the design and start-up sector. His main strength as a design leader is the ability to
    address brand problems & execute creative strategies.</p>

  <p>
    He is currently the Co-founder and Director of UI UX for Yeet.com and was able to successfully raise $1M in funding to bring an idea to life with a well
    structured team. Alex has helped numerous Start-ups create special projects, rapid prototypes of business ideas as a UI UX consultant. Prior successes
    include co-creating Getmyrx.com and successfully exiting for $3M (McKesson acquisition).</p>

  <p>
    As a consultant, he has helped startup HYP3R, the TechCrunch ’16 NFL future stadium winner. Alex attributes much of his success to working with
    SapientNitro for 5 years with top level creatives and programmers for some of the top brands in the world.
  </p>

  <p>Preferred Creative Tool Stack:
    Adobe XD, Invision Studio, Figma, Illustrator
    He is an Industrial Designer by trade, and Visionary at heart.
    His client list includes:</p>

  <ul>
    • Yeet.com
    • HYP3R
    • Emerge Americas
    • GetmyRx
    • Nobox
    • Fanta, Coca-cola
    • TEDx Miami 2014
    • Marriott
    • SapientNitro
    • Fiat
    • Jeep
    • Dodge
    • Chrysler
    • VW Audi group
    • Waldan Watches
    • Fon
    • Intel
    • Amadeus
    • New World Symphony Miami
  </ul>

  <p>His core strengths are:</p>

  <ul>
    Creative Strategy
    • Branding & Art direction
    • Ideation & Concept development
    • UX/UI Information Architecture
    • Investor Presentations
    • Mobile App creation
  </ul>

  <p>With a passion for learning, Alex has been able to work with many top Design Studios, Ad Agencies, Design Firms, Incubators & Investors as their “Go-toguy” for all creative needs.</p>
</div>
<contact></contact>
