<div class="container">
  <div class="row">
    <div class="textPart col-5 offset-1">
      <img class="logo" src="../../assets/caseStudies/MDRA_logo_gallery.svg" alt="MDRALogo"/>
      <h1>SUBMERGE 150'</h1>
      <p>Submerge 150' Catamaran was the Marine Design Resource Alliance Nationwide winner in 2009 for the category "Most Innovative Yacht."
        Grand prize awarded: $30,000. Submerge was envisioned as a modern vessel that allows for worldwide marine exploration.
        Allowing Marine Biologists and specialists to travel and explore the underwater world with ease.
        By having the Jet propulsion systems on the catamaran and a clever pivot mechanism,
        the hulls allow the lower deck to be submerged underwater and provide a unique viewing experience.
      </p>
      <img class="caseStudyBtn" src="../../assets/buttons/cta_contact_to_see.svg" alt="caseStudy"/>
    </div>
    <div class="imagePart col-5 offset-1">
      <img class="banner" src="../../assets/buttons/40000_downloads_work_banner.svg" alt="40000downloads"/>
    </div>
  </div>
</div>
