.container-fluid {
  background-color: #182D67;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
}

p {
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
}

a {
  color:white;
}
