<div class="hypeContent">
  <div id="hyperBox">
    <div class="leftContent">
      <img id="topLeftBox" src="../../assets/hyper/5years_fiat_work_banner.svg" alt="Confidential"/>
      <p>Branding & UX Consultant</p>
    </div>
      <img id="hyperLogo" src="../../assets/hyper/hyp3r_icon.svg" alt="hyperLogo"/>
    <div class="text">

      <h1>IT'S ALL ABOUT THE JOURNEY</h1>

      <p>Alex was hired as a branding and user experience consultant to HYP3R, a real-time,location-based engagement platform.
         They're on a mission to make marketing efficient for businesses and delightful for consumers. It was important to identify
         what made their platform special to venues. HYP3R CEO Carlos Garcia and Alex chose this method of illustrating the journey
         to visually engage Big Brand execs with the HYP3R story.
      </p>
    </div>

    <div class="container-fluid">
      <div class="row">

      </div>

    </div>
  </div>
</div>
