.container {
  background-image: url("../../assets/hyper/hyp3r_bkgd_image.jpg");
  height: 90vh;
  background-size: cover;
  min-width: 100%;
  padding-top: 10%;
  min-height: 500px;
}

#hyperLogo {
  position: absolute;
  height: 8%;
  top: 7%;
  right: 5%;
}

#topLeftBox {
  height: auto;
  width: 30%;
  top: 7%;
  position: absolute;
  left: -5%;
}

.box {
  background-color: white;
  box-shadow: 1px 1px 20px lightblue;
  text-align: left;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  position: relative;
  /*width: 100%;*/
}

#brand {
  position: absolute;
  top: 20%;
  left:3%;
  font-size: 0.8em;
}

h1 {
  font-size: 1.3em;
  font-weight: 700;
  margin-top: 20%;
}

#txt {
  font-size: 0.8em;
  margin-bottom: 4%;
}

.logos {
  justify-content: center;
}

