<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="font-family: 'Playfair Display', 'sans-serif' "><strong>Strategy Card</strong></h1>
      <p>Creativity fueld by data (and coffee)</p>
      <img class="d-none d-md-block" style="height: 50vh; min-height: 400px; margin: auto;" src="../../assets/heros/image_creativeservices.svg" alt="Alex Marzo Services"/>
      <img class="d-md-none mobileImg" src="../../assets/heros/image_creativeservices_mobile.svg" alt="Alex Marzo Services"/>
    </div>
  </div>
</div>
