<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="font-size: 2em; letter-spacing: 0.15em"><strong>STRATEGY CARD</strong></h1>
      <p style="font-size: 1em; margin-bottom: 2%">CREATIVITY FUELD BY DATA (AND COFFEE)</p>
      <img class="d-none d-md-block" style="height: 50vh; min-height: 400px;" src="../../assets/heros/image_creativeservices.svg" alt="Alex Marzo Services"/>
      <img class="d-md-none" style=" min-height: 400px;width:90%;" src="../../assets/heros/image_creativeservices_mobile.svg" alt="Alex Marzo Services"/>
    </div>
  </div>
</div>
