.container {
  height: 90vh;
  text-align: center;
  background-color: #EFEFEF;
  background-image: url("../../assets/heros/logo_marzo_large_bkgd.svg");
  /*background-size: cover;*/
  background-position: center;
  background-size: 50vh;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 600px;
}

.row{
  padding-top: 5%;
}

