.container {
  height: 90vh;
  text-align: center;
  background-color: #EFEFEF;
  background-image: url("../../assets/heros/logo_background.svg");
  /*background-size: cover;*/
  background-position: center;
  background-size: 45vh;
  background-repeat: no-repeat;
  min-width: 100%;
}

.row{
  padding-top: 5%;
}

