<div class="container">
  <p><b>IN THE NEWS</b></p>
  <div class="row">
      <img class="col-6 col-md-2 imageLogo" src="../../assets/inTheNews/wired_logo.svg" alt="wired">
      <img class="col-6 col-md-2 imageLogo" src="../../assets/inTheNews/behance_logo.svg" alt="behace">
      <img class="col-6 col-md-2 imageLogo" src="../../assets/inTheNews/coroflot_logo.svg" alt="coroflot">
      <img class="col-6 col-md-2 imageLogo" src="../../assets/inTheNews/image_fox.svg" alt="foxBanner">
      <img class="col-6 col-md-2 imageLogo" src="../../assets/inTheNews/hyp3r_techcrunch_logo.svg" alt="techCrunch">
      <img class="col-6 col-md-2 imageLogo" src="../../assets/inTheNews/LA_show_logo.svg" alt="laAutoShow">
  </div>
</div>
