<div class="container">
  <p><b>IN THE NEWS</b></p>
  <div class="row">
    <!--<div class="col-4 col-md-2">-->
      <img style="height: 8vh;" class="col-4 col-md-2" src="../../assets/inTheNews/wired_logo.svg" alt="wired">
    <!--</div>-->
    <!--<div class="col-4 col-md-2">-->
      <img style="height: 8vh;" class="col-4 col-md-2" src="../../assets/inTheNews/behance_logo.svg" alt="behace">
    <!--</div>-->
    <!--<div class="col-4 col-md-2">-->
      <img style="height: 8vh;" class="col-4 col-md-2" src="../../assets/inTheNews/coroflot_logo.svg" alt="coroflot">
    <!--</div>-->
    <!--<div class="col-4 col-md-2">-->
      <img  style="height: 8vh;" class="col-4 col-md-2" src="../../assets/inTheNews/image_fox.svg" alt="foxBanner">
    <!--</div>-->
    <!--<div class="col-4 col-md-2">-->
      <img style="height: 8vh;" class="col-4 col-md-2" src="../../assets/inTheNews/hyp3r_techcrunch_logo.svg" alt="techCrunch">
    <!--</div>-->
    <!--<div class="col-4 col-md-2">-->
      <img style="height: 8vh;" class="col-4 col-md-2" src="../../assets/inTheNews/LA_show_logo.svg" alt="laAutoShow">
    <!--</div>-->
  </div>
</div>
