.container {
  background-color: black;
  text-align: center;
  padding-top: 10px;
  /*padding-bottom: 10px;*/
  padding-left: 8%;
  padding-right: 8%;
  height: 22vh;
  min-height: 150px;
  min-width: 100%;
}


p {
  color: white;
  letter-spacing: 0.10em;
  margin-bottom: 1%;
}

.imageLogo {
  height: 8vh;
  min-height: 80px;
}


@media (max-width: 767px) {
    .container {
      min-height: 300px;
    }
}
