<div class="container">
  <div class="row">
    <div class="d-md-none emergeMobileBlock">
    </div>
    <div class="textPart col-12 col-md-5 offset-md-1" [@fadeOnScroll]="state">
      <div class="d-md-none">
        <img class="banner" src="../../assets/buttons/5000_guests_work_banner.svg" alt="5000guests"/>
      </div>
      <img class="logo" src="../../assets/caseStudies/emerge_logo_gallery.svg" alt="emergeLogo"/>
      <h1>EMERGE AMERICAS</h1>
      <p>Emerge Americas was envisioned to become the best Tech Festival in Florida. With a great team
        of thinkers and doers, as a team we were able to cement its presence as the place techies from
        various backgrounds to gather and share their insights. Every year there are over 5,000 attendees!
      </p>
      <div class="btn">
        <img class="caseStudyBtn" src="../../assets/caseStudies/case_study_btn.svg" alt="caseStudy" (click)="videoModal1.show()"/>
      </div>
    </div>
    <div class="imagePart col-5 offset-1 d-none d-md-block" [@fadeOnScroll2]="state">
      <img class="banner" src="../../assets/buttons/5000_guests_work_banner.svg" alt="5000guests"/>
    </div>
  </div>
</div>

<div mdbModal #videoModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/101450027" allowfullscreen></iframe>
        </div>
      </div>
      </div>
  </div>
</div>
