<div class="container">
  <div class="text-wrap">
    <div class="row">
      <div class="col-md-6 leftpanel col-sm-12 order-sm-last order-md-first">
        <mat-video [autoplay]="true" [muted]="true" [loop]="true" [preload]="true" [overlay]="false">
          <source matVideoSource src="../../assets/1024077818-preview.mp4" type="video/mp4">
        </mat-video>
      </div>
      <div #TopPage class="col-md-6 rightpanel col-sm-12 order-sm-first order-md-last">
        <div @fade>
          <img style="height: 5vh; position: absolute; top: 4%;right: 4%" id="resume" src="../../assets/buttons/resume_btn.svg" alt="resume">
          <img style="height: 16vh; margin-bottom: 3%" src="../../assets/heros/image_alex@2x.png" alt="logo"/>
          <p style="font-size: 1.3em; letter-spacing: 0.14em; margin-bottom: 0;"><b>ALEXANDER MARZO</b></p>
          <p style="color: white;font-size: 1.3em; letter-spacing: 0.14em"><b>DIRECTOR: CREATIVE STRATEGY & UX UI </b></p>
          <p style="font-size: 1.6em; color: white;letter-spacing: 0.05em;"><b>12 YEARS OF BRINGING<br/>IDEAS, & TEAMS TOGETHER</b></p>
          <img style="height: 5vh;" src="../../assets/buttons/cta_bio%20(1).svg" alt="biografyButton">
        </div>
      </div>
    </div>
  </div>
</div>
