.topPage {
    text-align: center;
    background: url(../../assets/heros/heero_image_hp.jpg) no-repeat center center;
    height: 1076px;
    background-size: cover;
}

.bluePart {
  height: 173px;
  background-color: #3462E0;
  bottom: 0;
  color:white;
  padding-top: 2.94vh;
  padding-bottom: 2.74vh;
}

.bluePart div {
  position: center;
  display: inline-block;
}

.bluePart div img {
  width:10vw;
  height: auto;
  margin-right: 2vw;
}
.bluePart p {
  margin-bottom: 3.45vh;
}

.whitePart {
  height: 83.922%;
}

#logo{
    margin-top: 28.42vh;
    margin-bottom: 0;
    height: 67.71px;
}

.whitePart p {
  letter-spacing: 0.15vw;
}

#resume {
  position: absolute;
  width: 145.19px;
  height: 36px;
  right:4.54vw;
  top: 4.76vh;
}

#directorBtn {
  height: 48px;
  width: 328px;
}
