<div class="topPage">
  <div class="whitePart">
    <img id="resume" src="../../assets/buttons/resume_btn.svg" alt="resume">
    <img id="logo" src="../../assets/sideMenu/Logo.svg " alt="logo"/>
    <p style="font-size: 1.5em; margin-top: 1.3vh; letter-spacing: 0.4vw;"><b>ALEXANDER MARZO</b></p>
    <p style="color: #3462E0;font-size: 1.125em; margin-top: 2vh"><b>DIRECTOR OF UX UI WITH 10 YEARS OF BRINGING PEOPLE AND IDEAS TOGETHER</b></p>
    <p style="font-size: 3.75em; margin-top: 5.46vh"><b>CREATIVITY FUELED BY DATA</b></p>
    <img id="directorBtn" src="../../assets/buttons/ux_ui_play_btn.svg" alt="ux_ui">
  </div>
  <div class="bluePart">
      <p>IN THE NEWS</p>
      <div>
        <img src="../../assets/inTheNews/wired_logo.svg" alt="wired">
        <img src="../../assets/inTheNews/behance_logo.svg" alt="behace">
        <img src="../../assets/inTheNews/coroflot_logo.svg" alt="coroflot">
        <img src="../../assets/inTheNews/hyp3r_techcrunch_logo.svg" alt="techCrunch">
        <img src="../../assets/inTheNews/LA_show_logo.svg" alt="laAutoShow">
        <img src="../../assets/inTheNews/LA_show_logo.svg" alt="laAutoShow">
      </div>
  </div>
</div>
