<div class="topPage">
  <div class="whitePart">
    <button>

    </button>
    <img src="../../assets/logoSideMenu.jpg" />
    <p style="font-size: 24px"><b>ALEXANDER MARZO</b></p>
    <p style="color: #3462E0;font-size: 18px"><b>DIRECTOR OF UX UI WITH 10 YEARS OF BRINGING PEOPLE AND IDEAS TOGETHER</b></p>
    <p style="font-size: 60px"><b>CREATIVITY FUELED BY DATA</b></p>
    <button style="height: 4.461%; width: 18%; background-color: #3462E0; border-radius: 12px">

    </button>
  </div>
  <div class="bluePart">
      <p>ad</p>
  </div>
</div>
