<div class="container">
  <div class="row">
    <div class="d-md-block fiatMobileBlock">

    </div>
    <div class="textPart col-12 col-md-5 offset-md-1" [@fadeOnScroll]="state">
      <div class="d-md-none fiatMobileText">
        <img class="banner" src="../../assets/buttons/5years_fiat_work_banner.svg" alt="pwcWorkBanner"/>
      </div>
      <img class="logo" src="../../assets/caseStudies/fiat_sapient_logo_gallery.svg" alt="FiatLogo"/>
      <h1>FIAT.COM</h1>
      <p>Alex was a creative lead for Publicis.
        Sapient and helped with tasks for FCA (Fiat Chrysler Automobile group: Fiat, Jeep, Dodge, Chrysler, Ferrari) From Client presentation ideas that were presented in Detroit to Website and App Art Direction.
        Each effort requires a significant amount of Brand knowledge and elevating the brand to the next level to achieve more vehicle sales.
        These projects were highly successful (particularly for Abarth) which had commercials displayed for the Super Bowl 2012!
      </p>
      <a href="https://www.fiat.com" target="_blank">
        <img class="caseStudyBtn" src="../../assets/heros/explore_work_btn.svg" alt="explore work Alex Marzo Fiat"/>
      </a>
    </div>
    <div class="imagePart col-md-5 offset-md-1 d-none d-md-block" [@fadeOnScroll2]="state">
      <img class="banner" src="../../assets/buttons/5years_fiat_work_banner.svg" alt="5yearsWork"/>
    </div>
  </div>
</div>
